.banner {
    background: url("https://s3-alpha-sig.figma.com/img/2a5c/c693/7890858efe64f97587eb82330aa2163a?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=TQ2wLAR0yyqIZR0RSq6w1ko3tJqmjo9ioDsgHlpq~wE0BnVtc7jkcaRJsOzdYABbQFucDnFyCkPA-wqC7teE9sj3QTMHIVRCbhJSA4meQRtG4mTop~ULs4OKIAFeAt8PygAYVZDTBrkFGfEUAN65SiMSpVpVhvyU23SceE~l4jWZftJCS~WemOCUTY7IRZJpdCnIp0aYB~DQuW9GX6gyRMhXquWh9k6vICu3X7JRodU1btg7rj~pj9rf-RbRfh01arggtmO8ICnF0MtQhiT78lBAHqVngda83UmLJY7345~0Ez4ZJTTxt0FRbHNnEpginUuBKCmO28selkJwFkAnmA__") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    color: white;
    text-align: start;
    align-items: center;

    h2 {
        width: 15rem;
        margin: 5rem;
        text-align: center;

    }

}

.doar {
    margin: 2rem;

    h2 {
        font-size: 32px;
        margin-left: 6.4rem;
        margin-top: 6rem;
        color: #005695;

    }
    @media screen and (max-width:900px) {
        margin: .1rem;

        h2{
            font-size: 28px;
            margin-left: 5rem;
        }
    }
}