.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem;
    background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
    height: 15vh;
    text-align: center;

}

.logo {
    margin-left: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
        width: 2rem;
    }

    h1 {
        font-size: 22px;
        margin-left: .5rem;
    }
}

.menu {

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    ul {
        display: flex;
        transition-duration: .6s;


        @media screen and (max-width:900px) {
            flex-direction: column;
            justify-content: space-evenly;
            position: absolute;
            width: 15rem;
            height: 60vh;
            top: 0;
            right: -400px;
            z-index: 10;
            background: black;

        }
    }


    .link {
        color: white;
        font-size: 1.1rem;
        border-radius: 10px;
        margin: 0 1rem;

    }

    .link:hover {
        color: #005695;
        background-color: white;
        padding: .6rem;
        transition-duration: .2s;

    }

}



.active {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    ul {
        display: flex;
        transition-duration: .4s;

        @media screen and (max-width:900px) {
            flex-direction: column;
            justify-content: space-evenly;
            position: absolute;
            width: 15rem;
            height: 70vh;
            top: 0;
            right: 0;
            z-index: 10;
            background: linear-gradient(90deg, #002e51 0%, #005695 100%);
        }
    }

    .link {
        color: white;
        font-size: 1.1rem;
        border-radius: 10px;
        margin: 0 1rem;

    }

    .link:hover {
        color: #005695;
        background-color: white;
        padding: .6rem;
        transition-duration: .2s;

    }
}

.busca {
    display: flex;
    border-radius: 20px;
    border: 2px white solid;
    height: 2rem;
    align-items: center;
    justify-content: center;

    @media screen and (max-width:900px) {
        display: none;
    }

    input {
        width: 80%;
        background: none;
        border: none;
        border-radius: 15px;
        height: 100%;
        text-align: center;
        color: white;
        outline: none;


        &::placeholder {
            text-align: center;
            color: white;
        }


    }

    button {
        background: none;
        border: none;
        cursor: pointer;
        padding: .3rem;
    }

}

.mobileIcon {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media screen and (max-width:900px) {
        display: block;
        z-index: 999999;
    }

}